<app-navbar></app-navbar>
<table class="ocean-container">
    <thead class="ocean-table">
      <tr>
        <th>Date & Time</th>
        <th>Notes</th>
        <th>Researchers</th>
        <th>Equipment</th>
        <th>Location</th>
      </tr>
    </thead>
    <tbody>
      @for (observation of observations; track observation) {
        <tr>
          <td>{{ observation.observationDateTime }}</td>
          <td>{{ observation.notes }}</td>
          <td>{{ observation.researchers }}</td>
          <td>{{ observation.equipment }}</td>
          <td>{{ observation.location }}</td>
        </tr>
      }
    </tbody>
    <button (click)="addObservation(title)">Add Observation</button>
  </table>
  